@import "tailwindcss";

@font-face {
  font-family: "Built";
  src: url("/fonts/built.otf");
}

@font-face {
  font-family: "Lemon";
  src: url("/fonts/lemon.otf");
}

@font-face {
  font-family: "Klarheit";
  src: url("/fonts/KlarheitKurrent.otf");
}

@font-face {
  font-family: "Face";
  src: url("/fonts/Face.otf");
}

@font-face {
  font-family: "Face Light";
  src: url("/fonts/FaceLightItalic.otf");
}

@font-face {
  font-family: "Face Thin";
  src: url("/fonts/FaceThinItalic.otf");
}

@font-face {
  font-family: "VCR";
  src: url("/fonts/VCR.ttf");
}

@theme {
  --font-xxs: 0.6rem;

  --color-mar: #29c4ef;
  --color-rojo: #f35652;

  --font-klar: "Klarheit";
  --font-built: "Built";
  --font-lemon: "Lemon";
  --font-vcr: "VCR";
  --font-face: "Face";
  --font-faceL: "Face Light";
  --font-faceT: "Face Thin";

  --breakpoint-mid: 53.125rem;
  --breakpoint-galaxy: 26.25rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
}

@layer utilities {
  .font-lemon {
    font-family: var(--font-lemon);
  }
  .font-built {
    font-family: var(--font-built);
  }
  .font-vcr {
    font-family: var(--font-vcr);
  }
  .font-klar {
    font-family: var(--font-klar);
  }
  .font-face {
    font-family: var(--font-face);
  }
  .font-faceL {
    font-family: var(--font-faceL);
  }
  .font-faceT {
    font-family: var(--font-faceT);
  }
  .text-xxs {
    font-size: var(--font-xxs);
  }
}

html {
  background-color: #f35652;
  overflow-x: hidden;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}
